<!-- footer -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Descuento con Santander Women</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 49.999</h2>
                    <p>Envíos gratis en tu primera compra.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Francesca Sinagra y Mia Maffi</h2>
                </article>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->