<header class="site-header">
    <nav class="nav">
      <a href="/">Inicio</a>
      <a href="/products/1">Detalle</a>
      <a href="/products/create/new">Agregar producto</a>
      <a href="/users/login">Login</a>
      <a href="/users/register">Registración</a>
      <a href="/users/me">Mi Perfil</a>
      <form action="/search" method="get" class="search">
        <input type="text" name="q" placeholder="Buscar..." />
        <button>Buscar</button>
      </form>
    </nav>
  </header>
  