
<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
<%- include('partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
      <form action="/user/register" method="POST">
        <label>Email
          <input type="email" name="email" required />
        </label>
        <label>Usuario
          <input type="text" name="nombre" required />
        </label>
        <label>Contraseña
          <input type="password" name="clave" required />
        </label>
        <button type="submit" class="btn">Crear cuenta</button>
      </form>
    
    </div>
  </div>
<!-- /footer -->
<%- include('partials/footer') %>
</body>

</html>

